extends ./layout/index

block contenido
    block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Bienvenidos a nuestra agencia de viajes, donde transformamos tus sueños de aventuras en realidad. Con años de experiencia en la industria, estamos comprometidos en brindarte un servicio excepcional y una experiencia de viaje inolvidable. Nuestro equipo de expertos apasionados por explorar el mundo está aquí para acompañarte en cada paso del camino, desde la inspiración inicial hasta el regreso a casa con recuerdos invaluables.

                p  En nuestra agencia, creemos que cada viaje es único, y es por eso que nos esforzamos en personalizar cada detalle según tus preferencias y deseos. Desde exquisitos destinos de playa hasta emocionantes expediciones de aventura, estamos dedicados a diseñar itinerarios a medida que se adapten perfectamente a tus necesidades. Nuestro compromiso con la excelencia se refleja en la calidad de los alojamientos, la selección de actividades y la atención meticulosa a los detalles para que puedas relajarte y disfrutar al máximo.

                p La pasión por los viajes y la exploración es lo que impulsa a nuestra agencia. Más allá de la reserva de vuelos y hoteles, estamos aquí para ofrecerte una experiencia que va más allá de lo ordinario. Nos enorgullece ser tus compañeros de viaje y compartir contigo los destinos más increíbles que el mundo tiene para ofrecer. Únete a nosotros para vivir una travesía que quedará grabada en tu corazón para siempre.

    .listado-icons
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                  img(src="/img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                  h2.mb-4 Seguridad 
                  p En nuestro compromiso continuo con la seguridad y privacidad de nuestros clientes, implementamos rigurosas medidas para salvaguardar la integridad de los datos y la información personal. Nuestra agencia se enorgullece de mantener estándares de seguridad de última generación, garantizando que tus detalles sensibles estén protegidos en todo momento. Desde la encriptación de extremo a extremo hasta la monitorización proactiva de posibles amenazas, trabajamos incansablemente para ofrecerte una experiencia de viaje que no solo sea emocionante, sino también segura y confiable en cada paso del camino.

                .col-md-4 
                  img(src="/img/icono_destinos.svg", alt='testino', class="img-fluid mb-4")
                  h2.mb-4 Tu Mejor Destino para Vacacionar
                  p Bienvenido a nuestra agencia, donde los sueños de viajar se convierten en aventuras inolvidables. Explora el mundo con nosotros y descubre una variedad de destinos fascinantes que te dejarán sin aliento. Ya sea sumergiéndote en la cultura de ciudades vibrantes, relajándote en playas de aguas cristalinas o aventurándote en paisajes naturales asombrosos, estamos aquí para hacer realidad tus deseos de explorar y descubrir. Deja que nuestras opciones de destinos cautivadores te inspiren y te guíen hacia una experiencia de viaje única.

                .col-md-4 
                  img(src="/img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                  h2.mb-4 Los Mejores Precios
                  p En nuestra agencia, creemos que todos merecen experimentar el placer de viajar, sin comprometer la calidad ni la comodidad. Es por eso que nos enorgullece ofrecer una selección de paquetes y ofertas atractivas que se ajustan a diversos presupuestos. Nuestra misión es brindarte los mejores precios posibles sin sacrificar la calidad de tu experiencia. Con transparencia y flexibilidad, trabajamos para que cada viaje sea accesible y excepcional. Ya sea que busques una escapada económica o un viaje de lujo, encontrarás en nosotros un socio comprometido en brindarte las mejores opciones de precio y valor.